@import "./utils/styles/font.scss";
@import "./utils/styles/media.scss";

body {
  margin: 0;
  font-family: $font;
  background: var(--body-bg);
  color: var(--text);
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-principal);
  border-radius: 10px;
}

.react-datepicker-wrapper {
  width: 100%;
}

@media screen and (max-width: 720px) {
  body {
    min-width: unset;
    /* height: 100vw; */
    /* position: fixed; */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.react-datepicker {
  border: none !important;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker-popper[data-placement^="bottom"] {
  margin-top: 0;
}

.react-datepicker__month-container {
  .react-datepicker__header {
    background-color: var(--color-principal);
  }
  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header,
  .react-datepicker__day-name {
    color: var(--blanco);
  }
}
.react-datepicker__header {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}
